
input[type="text"]{
	background-color:#234465;
	width:220px;
	height:25px;
	color:#FF9933;
	font-size:18px;


}
p{
	background-color:#234465;
	color:#FF9933;
	width:220px;
	height:200px;
	font-size:18px;

}
input[type="button"]{
	background-color:#fff;
	border:2px solid #23445B;
	width:85px;
	height:35px;
	color:#000;
	margin: 15px 70px 0;

}